.bnr-h8 {
    width: 100vw;
    height: auto;
}

* {
    font-family: 'Poppins', sans-serif;
}


.bxs-star,
.bxs-star-half {
    color: rgb(240, 139, 6);
    font-size: 20px;
}

.bxl-facebook,
.bxl-youtube,
.bxl-linkedin,
.bxl-tiktok {
    color: aliceblue;
    font-size: 45px;
}